models/proto/*.pbtxt filter=lfs diff=lfs merge=lfs -text
models/uncompressed/*.weights filter=lfs diff=lfs merge=lfs -text
server/models/proto/*.pbtxt filter=lfs diff=lfs merge=lfs -text
server/models/uncompressed/*.weights filter=lfs diff=lfs merge=lfs -text
