body {
  background: linear-gradient(45deg, #9c27b0, #e91e63, #ff5722, #ff9800, #ffeb3b);
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Rest of the CSS code remains the same */
.App {
  margin: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  border-color: #fff;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
nav ul li a:hover {
  color:rgb(0, 0, 0)
}
h2 {
  color: #fff;
}
h1
{
  color: #fff;
  font-family:fantasy;
}